.friendsBlock {
    padding: 15px;
    background-color: #00000025;
}


.demoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    
}

.navLinkFriend {
    text-decoration: none;
    color: #333333;
}
.demoItem {

    width: fit-content;
    background-color: #00000025;
}
/* .demoImg {
    margin-bottom: 10px;
} */
.demoImg img {
    max-width: 100px;
    min-width: 50px;
    max-height: auto;
}
.demoName {
    padding: 5px;
}

.navFriends {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: #64613d
}
.allFriendsLink {
    cursor: pointer;
}

.allFriends {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    height: 90vh;
    overflow: auto;
}
.friendsBlockActive {
    display: block;
}
.allFriendsBlock {
    background-color: #e2dcf3;
    padding: 20px;
}
.closeFriendsBlock {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 3px;
    background-color: #5a5a5a85;
    transform: rotate(45deg);
    border-radius: 2px;
    cursor: pointer;
}
.closeFriendsBlock:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 3px;
    background-color: #5a5a5a85;
    transform: rotate(90deg);
    border-radius: 3px;
}
