.usersWrap {
    padding: 15px;
}
.userWrap {
    margin-bottom: 20px;
}
.ava {
    margin-bottom: 10px;
}
.ava img {
    height: 100px;
    border-radius: 50%;
}
.userName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.followButton {
    margin-bottom: 10px;
}
.followButton button {
    width: 100px;
    border: none;
    background-color: rgb(194, 157, 157);
}
.status {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}
.country, .city {
    font-size: 16px;
    line-height: 26px;
}

.paginator {
    margin-bottom: 15px;
}
.page {
    padding: 5px;
    font-size: 20px;
    line-height: 40px;
    background-color: rgb(182, 182, 141);
    margin-right: 5px;
    cursor: pointer;
}
.page:last-child {
    margin-right: 0;
}

.currentPage {
    background-color: gold;
}