.loginWrap {
    padding: 15px;
}
.inputItem {
    margin-bottom: 20px;
}
.loginLabel {
    display: block;
    max-width: 300px;
    position: relative;
}
.loginInputCheckbox {
    right: 50%;
}

.captchaBlock {
    margin-bottom: 40px;
}
.commonErrorMessage {
    color: red;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.fieldDescriotion {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    color: #696666;
    margin-bottom: .5em;
}