.loginWrap {
    padding: 15px;
}
.inputItem {
    margin-bottom: 20px;
}

.loginInput {
    position: absolute;
    top: 0;
    right: 0;
}
.loginLabel {
    display: block;
    max-width: 300px;
    position: relative;
}
.loginInputCheckbox {
    right: 50%;
}

.errorInput {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid red;
}
.errorMessage {
    color: red;
    margin-top: 10px;
}
.commonErrorMessage {
    color: red;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}