.messagesContainer {
    padding: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr;
}

.messagesPage {
    
}

.usersWrap {
    border-right: 2px solid #999;
}


.messagesWrap {
    padding: 0 20px;
    overflow: auto;
    max-height: 70vh;
}

.messageWrap {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "image message"
                      "name message";
    margin-bottom: 20px;
}
.messageWrapOwner {
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "message image"
                      "message name";
    text-align: right;
}
.userPhotoContainer {
    grid-area: image;
}
.userName {
    grid-area: name;
}
.message {
    grid-area: message;
    margin-bottom: 5px;
}
.message span {
    background-color: rgba(111, 199, 123, 0.5);
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    display: inline-block;
}
/* .myMessage {
    background-color: rgba(209, 207, 76, 0.5);
    border-radius: 20px 20px 0 20px;
    text-align: right;
} */
.myMessage span {
    background-color: rgba(209, 207, 76, 0.5);
    border-radius: 20px 20px 0 20px;
}

.dialog {
    margin-bottom: 20px;
    text-align: center;
    width: 70px;
}
.dialog:last-child {
    margin-bottom: 0;
}
.avatar {
    margin-bottom: 5px;
}
.avatar img {
    width: 70px;
}

.postsForm {
    margin-bottom: 20px;
}
.messageInput {
    margin-bottom: 10px;
}
.messageInput textarea {
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}
.sendMessage {
    padding: 5px;
    border: none;
    background-color: rgb(176, 165, 212);
    border-radius: 5px;
}
.sendMessage:disabled {
    background-color: #999;
    color: #666;
}
.userPhoto {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.errorMessage {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: red;

}

.messagesInputBlock {
    padding: 15px;
}