.messagesContainer {
    padding: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
}

.usersWrap {
    text-align: center;
    border-right: 2px solid #999;
}
.avatar img {
    width: 100px;
}

.messagesWrap {
    padding: 0 20px;
}
.message {
    margin-bottom: 20px;
    background-color: rgb(168, 103, 120);
    padding: 20px;
    border-radius: 20px 20px 20px 0;
}