.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1240px;
  background-color: #fff;
  position: relative;
}
.content-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header"
                      "nav main"
                      "footer footer"
}
.rxjs-title {
  text-align: center;
}

.header {
  grid-area: header;
  background-color: rgb(48, 71, 5);
}
.main {
  grid-area: main;
  background-color: rgb(231, 231, 231);
  max-width: 930px;
}
.aside {
  grid-area: nav;
  background-color: rgb(240, 226, 180);
}
.footer {
  grid-area: footer;
  background-color: rgb(71, 71, 71);
}

.chatWrap {
  background-color: antiquewhite;
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 320px;
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
  padding-top: 20px;
  box-sizing: border-box;
  transition: bottom .5s ease-out;
}
.isCollapsedChat {
  bottom: -450px;
}

.chatOptions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
}
.chatOptionsItems {
  margin-right: 10px;
}
.chatOptionsItems:last-child {
  margin-right: 0;
}
.chatCloseButton,
.chaCollapseButton,
.chatExpandButton {
  position: relative;
  width: 15px;
  height: 15px;
}
.chatCloseButton::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: #666;
  width: 15px;
  height: 3px;
  transform: rotate(45deg);
}
.chatCloseButton::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: #666;
  width: 15px;
  height: 3px;
  transform: rotate(135deg);
}
.chaCollapseButton::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #666;
  width: 15px;
  height: 3px;
}
.chatExpandButton::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  border: 3px solid #666;
  width: 15px;
  height: 10px;
}

@media(max-width: 575px) {
  .content-wrapper {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer"
  }
  .isCollapsedChat {
    bottom: -250px;
  }
  .chatWrap {
    max-height: 300px;
  }
}

.errorWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(218, 16, 16, .2);
}