.App {
  margin: 0 auto;
  max-width: 1240px;
  background-color: #fff;
  position: relative;
}
.content-wrapper {
  margin: 0 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header"
                      "nav main"
                      "footer footer"
}
.rxjs-title {
  text-align: center;
}

.header {
  grid-area: header;
  background-color: rgb(48, 71, 5);
}
.main {
  grid-area: main;
  background-color: rgb(231, 231, 231);
}
.aside {
  grid-area: nav;
  background-color: rgb(240, 226, 180);
}
.footer {
  grid-area: footer;
  background-color: rgb(71, 71, 71);
}

@media(max-width: 575px) {
  .content-wrapper {
    margin: 0 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer"
  }
}

